<div class="col-sm-4 mb-3">
  <div class="card">
    <% if false %>
      <img src="..." class="card-img-top" alt="...">
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to genre.name, url %></h5>
      <p class="card-text"><%= genre.description %></p>
    </div>
  </div>
</div>