<h1>掲載店舗様店舗管理</h1>

<% if @shop.status == "掲載依頼" %>
  順次掲載しております。恐れ入りますがお待ちくださいませ。
<% else %>
  <%= render "vacant", shop: @shop %>
  <%= render "menu" %>
  <%= render "shops/calendar" %>
<% end %>


