<div class="container-xxl mt-5 contact">
  <a href="/">TOP</a> - プライバシーポリシー
<h1>プライバシーポリシー</h1>

本プライバシーポリシーは、[アルバ]（以下「当サイト」といいます）の利用において、お客様の個人情報の取り扱いに関する方針を説明します。お客様のプライバシーを保護するため、以下のように情報の収集、使用、管理を行います。

<h2>1. 収集する情報について</h2>
当サイトでは、以下の個人情報を収集することがあります：

<ul>
  <li>氏名、メールアドレス、電話番号、住所などの連絡先情報</li>
  <li>ユーザーがサイトに登録する際に提供するアカウント情報</li>
  <li>口コミやレビューの投稿など、ユーザーが当サイトを通じて公開するコンテンツ</li>
  <li>利用ログやIPアドレス、ブラウザの種類、閲覧履歴、位置情報などの技術情報</li>
</ul>

<h2>2. 情報の利用目的</h2>
収集した情報は、以下の目的で利用されます：
<ul>
  <li>サービス提供のため
  <li>利用者への連絡、問い合わせ対応のため
  <li>サービスの向上およびユーザー体験の最適化のため
  <li>サイトのセキュリティ確保および不正利用防止のため
  <li>マーケティングや広告配信のため（ユーザーの同意を得た場合）
</ul>

<h2>3. 情報の第三者提供について</h2>
当サイトは、お客様の個人情報を第三者に提供することはありません。ただし、以下の場合を除きます：
<ul>
  <li>法令に基づき開示が必要とされる場合
  <li>ユーザーの同意がある場合
  <li>サービスの運営に必要な業務委託先（サーバー管理会社など）に対して必要な範囲で情報を提供する場合
</ul>

<h2>4. クッキー（Cookie）について</h2>
当サイトでは、利用者の利便性向上やサービス品質向上のために、クッキーを使用することがあります。クッキーは、ブラウザの設定で無効にすることが可能です。ただし、クッキーを無効にした場合、当サイトの一部機能が利用できない場合があります。

<h2>5. 個人情報の安全管理について</h2>
当サイトは、お客様の個人情報を保護するため、適切な技術的および組織的な安全対策を講じます。外部からの不正アクセス、紛失、漏洩、改ざんなどを防止するためにセキュリティ技術を使用します。

<h2>6. プライバシーポリシーの改定について</h2>
当サイトは、法律の変更やサービス内容の変更に伴い、プライバシーポリシーを改定することがあります。改定が行われた場合は、当サイト上でお知らせいたします。

<h2>7 お問い合わせ先</h2>
本プライバシーポリシーに関するお問い合わせは、お問い合わせフォームよりご連絡ください。尚、よくあるお問い合わせにある内容に関しては返答が無い場合があります。
</div>