<!-- app/views/home/index.html.erb -->
<% if session[:user_id] %>
  <p>ようこそ、<%= current_user.name %>さん!</p>
  <%= link_to 'ログアウト', logout_path, method: :delete %>
<% else %>
  <%= link_to 'LINEでログイン', line_login_path, data: { turbo_method: :post}, class: 'btn btn-primary' %>
<% end %>
<style>
  /* app/assets/stylesheets/application.css */
  .btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #1dbf73; /* LINEのブランドカラー */
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  }

  .btn-primary:hover {
    background-color: #17a85a;
  }
</style>

