<% if @shop.coupon.present? %>
  <section class="coupon">
    <div class="container-xxl">
      <h2>クーポン</h2>
      <div class="coupon-content">
        <%= @shop.coupon if @shop.coupon %>
      </div>
    </div>
  </section>
<% end %>
