<div class="icon-space">

  <img src="/icons/alc.svg" alt="お酒アイコン" class="icon">
  <% if @shop.alcohol %>
    お酒有
  <% else %>
    お酒無
  <% end %>
  <% if @shop.smoking %>
    <img src="/icons/smoking.png" alt="喫煙OKアイコン" class="icon">喫煙OK
  <% else %>
    <img src="/icons/smoking-ng.png" alt="喫煙NGアイコン" class="icon">店内禁煙
  <% end %>
  <% if @shop.wifi %>
    <img src="/icons/wifi.svg" alt="wifiアイコン" class="icon"><%= "Wifi有" %>
  <% end %>

  <%if @shop.reservation %> |
    <img src="/icons/yoyaku.svg" alt="予約OKアイコン" class="icon">予約OK
  <% end %>

  <% if @shop.english %>
    <img src="/icons/en.png" alt="英語対応OKアイコン" class="icon">英語対応可
  <% end %>

  <% if @shop.korean %>
    <img src="/icons/kor.png" alt="韓国語対応OKアイコン" class="icon">韓国語対応可
  <% end %>

  <% if @shop.card_payment %>
    <img src="/icons/card.svg" alt="クレジットOKアイコン" class="icon">クレジットカード可
  <% end %>

  <% if @shop.mobile_payment %>
    <img src="/icons/pay.png" alt="モバイル決済OKアイコン" class="icon">モバイル決済可
  <% end %>

</div>