<div class="container-xxl contact mt-5">
  <a href="/">TOP</a> - お問い合わせ

  <h1>アルバお問い合わせ</h1>
  <div class="contact-link">
    <%= link_to "店舗情報掲載について", post_request_contacts_path  %><br>
    <%= link_to "お問い合わせフォーム",  new_contact_path %>
  </div>
</div>