/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 body{
  background-color: rgb(251, 242, 216);
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  color: #333;
  overflow-wrap: break-word;
 }

 section{
  margin-top: 50px;
 }

 .ruby{ color: rgb(188, 32, 32); }
 .burgundy{ color: #72313e; }
 
.bread-column{
  font-size: 0.8em;
  padding: 4px 12px 40px 0;
}

.accordion-header {
  background-color: #eee;
}
/* アコーディオンが開いているときのボタンスタイル */
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #000;
}

h1{
  font-size: 1.2em;
  padding-bottom: 5px;
}

h2, h3{
  font-size: 1.2em;
}

 h5{
  font-size: 1.1em;
 }

 a{
  text-decoration: none;
  color: #655c28;
 }


 .card-text{
  font-size: 0.8em;
  color: #666;
 }
 
/*------------------------------------
- COLOR user
------------------------------------*/
.alert-user {
  color: #26210c;
  background-color: #ded09b;
  border-color: #d9c98c;
}

.alert-user hr {
  border-top-color: #d3c079;
}

.alert-user .alert-link {
  color: #000000;
}

.badge-user {
  color: #fff;
  background-color: #83712b;
}

.badge-user[href]:hover, .badge-user[href]:focus {
  color: #fff;
  background-color: #5c4f1e;
}

.bg-user {
  background-color: #83712b !important;
}

a.bg-user:hover, a.bg-user:focus,
button.bg-user:hover,
button.bg-user:focus {
  background-color: #5c4f1e !important;
}

.border-user {
  border-color: #83712b !important;
}

.btn-user {
  color: #fff;
  background-color: #83712b;
  border-color: #83712b;
}

.btn-user:hover {
  color: #fff;
  background-color: #685922;
  border-color: #5c4f1e;
}

.btn-user:focus, .btn-user.focus {
  box-shadow: 0 0 0 0.2rem rgba(131, 113, 43, 0.5);
}

.btn-user.disabled, .btn-user:disabled {
  color: #fff;
  background-color: #83712b;
  border-color: #83712b;
}

.btn-user:not(:disabled):not(.disabled):active, .btn-user:not(:disabled):not(.disabled).active, .show > .btn-user.dropdown-toggle {
  color: #fff;
  background-color: #5c4f1e;
  border-color: #51451a;
}

.btn-user:not(:disabled):not(.disabled):active:focus, .btn-user:not(:disabled):not(.disabled).active:focus, .show > .btn-user.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(131, 113, 43, 0.5);
}

.btn-outline-user {
  color: #83712b;
  background-color: transparent;
  border-color: #83712b;
}

.btn-outline-user:hover {
  color: #fff;
  background-color: #83712b;
  border-color: #83712b;
}

.btn-outline-user:focus, .btn-outline-user.focus {
  box-shadow: 0 0 0 0.2rem rgba(131, 113, 43, 0.5);
}

.btn-outline-user.disabled, .btn-outline-user:disabled {
  color: #83712b;
  background-color: transparent;
}

.btn-outline-user:not(:disabled):not(.disabled):active, .btn-outline-user:not(:disabled):not(.disabled).active, .show > .btn-outline-user.dropdown-toggle {
  color: #fff;
  background-color: #83712b;
  border-color: #83712b;
}

.btn-outline-user:not(:disabled):not(.disabled):active:focus, .btn-outline-user:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-user.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(131, 113, 43, 0.5);
}

.list-group-item-user {
  color: #26210c;
  background-color: #d9c98c;
}

.list-group-item-user.list-group-item-action:hover, .list-group-item-user.list-group-item-action:focus {
  color: #26210c;
  background-color: #d3c079;
}

.list-group-item-user.list-group-item-action.active {
  color: #fff;
  background-color: #26210c;
  border-color: #26210c;
}

.table-user,
.table-user > th,
.table-user > td {
  background-color: #d9c98c;
}

.table-hover .table-user:hover {
  background-color: #d3c079;
}

.table-hover .table-user:hover > td,
.table-hover .table-user:hover > th {
  background-color: #d3c079;
}

.text-user {
  color: #83712b !important;
}

a.text-user:hover, a.text-user:focus {
  color: #5c4f1e !important;
}
