@media (max-width: 576px) {
  body{
    font-size: 0.8rem;
  }

  h1.title {
    font-size: 0.8em;
    padding-bottom: 2px;
  }
  body > div.container-fluid.footer > div > div.row.mb-5.mt-5 button{
    font-size: 0.8em;
  }
}
