.icon-space{
  background-color: #bbd2d1;
  padding: 20px;
  border-radius: 10px;
}

.icon-space .icon{
  height: 30px;
  width: 30px;
  background-color: #fff;
  padding: 5px;
  border-radius: 100%;
  margin-left: 10px;
  vertical-align: text-bottom;
}

.shop-genre-name{
  padding: 5px 15px;
  border-radius: 16px;
  margin-right: 12px;
}

.shop-area-name{
  background-color: #444;
  color: #eee;
  padding: 5px 15px;
  border-radius: 16px;
  margin-right: 12px;
}

section.shop-basic-information{
  padding: 10px;
  background-color: #fefefe;
}

.shop-tag{
  text-align: center;
  padding: 5px 15px;
  border-radius: 16px;
  background-color: #fff;
}

.cafe {
  color: #fff;
  background-color: #d4a373; /* 柔らかいコーヒー色 */
}

.cocktail-bar {
  color: #fff;
  background-color: #ff6f61; /* カクテルの鮮やかさを反映したオレンジレッド */
}

.wine-bar {
  color: #fff;
  background-color: #8b0000; /* 深みのあるワインレッド */
}

.authentic-bar {
  color: #fff;
  background-color: #2f4f4f; /* 高級感のあるダークスレートグレー */
}

.shisha-bar {
  color: #fff;
  background-color: #ff6347; /* 鮮やかなトマト色 */
}

.karaoke-bar {
  color: #fff;
  background-color: #4169e1; /* ロイヤルブルー */
}

.darts-bar {
  color: #fff;
  background-color: #6a5acd; /* スレートブルー */
}

.pool-bar {
  color: #fff;
  background-color: #4682b4; /* スチールブルー */
}

.dining-bar {
  color: #fff;
  background-color: #8b4513; /* チョコレート色 */
}

.sports-bar {
  color: #fff;
  background-color: #32cd32; /* ライムグリーン */
}

.club {
  color: #fff;
  background-color: #9400d3; /* ダークバイオレット */
}

.concept-cafe {
  color: #fff;
  background-color: #ffb6c1; /* ライトピンク */
}

.concept-bar {
  color: #fff;
  background-color: #20b2aa; /* ライトシーグリーン */
}

.snack-pub {
  color: #fff;
  background-color: #daa520; /* ゴールデンロッド */
}

.girls-bar {
  color: #fff;
  background-color: #ff69b4; /* ホットピンク */
}

.mens-pub {
  color: #fff;
  background-color: #4682b4; /* スチールブルー */
}

.casual-bar{
  color: #333;
  background-color: #a7ff33;
}

.map {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9のアスペクト比 */
  height: 0;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media (max-width: 576px) {
  .shop-tag {
    font-size: 0.7rem; /* 必要に応じてサイズを調整 */
  }
}
