.shop-description{
  padding:30px 5px;
  margin-top: 60px;
  background-color: #bbd2d1;
  font-size: 1.5em;
  font-style: italic;
}

.shop-description h3{
  font-size: 1.6em;
}

.shop-description p{
  white-space: pre-wrap;
}
